<% include ../partials/header %>
<div class="container">
      <h1><%=title%></h1>
      <%if (typeof errors !== 'undefined'){
        for(var i=0; i< errors.length; i++){%>
          <div class="alert alert-danger"> <%=errors[i].msg %></div>
        <% }
      }%>

      <form  method="post" action="/register">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input  class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password</label>
        <input required type="password" class="form-control" name="password" id="inputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="inputPassword2">Password Match</label>
        <input required type="password" class="form-control" name="passwordMatch" id="inputPassword2" placeholder="Password">
      </div>
      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include ../partials/footer-end %>
