<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include includes %>
    </head>
    <body>
      <div class="container">
        <header class="header clearfix">
          <nav id="navbar">
            <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <%if(!isLoggedIn){%>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <%}%>
              <%if(isLoggedIn){%>
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <%}%>
            </ul>
          </nav>
          <h3 class="text-muted">Simple Auth Project</h3>
        </header>
      </div>
